<div [style]="border" class="hranaItem">
@if(edit) {
@if(hrana.uuid) {
<button mat-raised-button (click)="ukloniHranu()" class="delete_btn">X</button>
} @else {
  <button mat-button (click)="objaviHranu()" class="delete_btn">Objavi</button> 
}
}

@if(this.neCrtajSliku == undefined) { 
<div class="hranaImgDiv">
@if(hrana.slika == "") {
  <img (click)="objaviSliku()" src="plus.svg">
} @else {
<img (click)="objaviSliku()" src="http://localhost:3000/files/get/{{hrana.slika}}">
}
</div>
}
@if (!this.edit) {
  <p>Nudi:{{hrana.restoran?.ime}}</p>
  <p>Naziv: {{hrana.naziv}}</p>
  <p>Opis: {{hrana.opis}}</p>
  <p>Cena po komadu: {{hrana.cenaRSD}} RSD</p>
  <p>Zeljena kolicina: {{izabranaKolicina}}</p>
  @if(this.zaDostavljaca) {
    <p>Adresa: {{hrana.restoran!.adresa!}}</p>
  }
} @else {
<p><editable (save)="update()" (cancel)="cancel()">
    <ng-template viewMode>
    Naziv: {{hrana.naziv}}
    </ng-template>
    <ng-template editMode>
        <input matInput editableOnEnter editableOnEscape [formControl]="txt_naziv" />
      </ng-template>
</editable></p>
<p><editable (save)="update()" (cancel)="cancel()">
    <ng-template viewMode>
    Opis: {{hrana.opis}}
    </ng-template>
    <ng-template editMode>
        <input matInput editableOnEnter editableOnEscape [formControl]="txt_opis" />
      </ng-template>
</editable></p>
Cena po kom. :
<p><editable (save)="update()" (cancel)="cancel()">
    <ng-template viewMode>
    @if(hrana.cenaRSD == -1) {
      Cena
    } @else {
    {{hrana.cenaRSD}} RSD
    }
    </ng-template>
    <ng-template editMode>
        <input matInput type="number" editableOnEnter editableOnEscape [formControl]="txt_cena" />
      </ng-template>
</editable></p>
}

@if(!edit && canAdd) {
  <button mat-raised-button class="amount-ctrl" (click)="oznaciHranu()">Dodaj u korpu</button>
  <button mat-raised-button class="amount-ctrl" (click)="ponistiOdabir()">Ukloni iz korpe</button>
}
</div>