<div class="racun">
        <p>Dostavlja:@if(!n.dostavljac) {
            Niko jos
        } @else {
            {{n.dostavljac.ime}}
            {{n.dostavljac.prezime}}
        }</p>
        <p>Kreirano {{n.vremeKreiranja}}</p>
        <p>Prihvaceno {{n.vremePrihvatanja ?? "Nije jos"}}</p>
        @if(n.kupac) {
        <p>Ispunjeno {{n.vremeIspunjenja ?? "Nije jos"}}</p>
        }
        <p>Cena: {{n.ukupnaCenaRSD}} RSD</p>
        <p>Status:{{n.status}}</p>
        @if(n.kupac) {
        <p>Ime, prezime i adresa kupca: {{n.kupac.ime }} {{n.kupac.prezime}} {{n.kupac.adresa}}</p>
        }

        @for(a of n.artikli;track $index) {
            <app-hrana [hrana]="a.hrana" [izabranaKolicina]="a.kol" [neCrtajSliku]="true"></app-hrana>    
        }
                <qrcode [qrdata]="n.uuid" [width]="256"></qrcode>
        @if(this.prihvatiDugme) {
            <button mat-raised-button (click)="prihvati()">Potvrdi</button>
        }
</div>