
<div class="accountForm">
@if(this.greska && this.selForm.untouched) { 
<div class="error">{{this.greska}}</div>
}
<form class="accountForm" [formGroup]="selForm" (ngSubmit)="onSubmit()">
            @if(selForm.controls.email.errors && !selForm.controls.email.untouched) {
                <div class="error">Morate da unesete e-mail!</div>
        }
    <label for="email">E-mail </label> 
    <input matInput id="email" type="text" formControlName="email"> 
           @if(selForm.controls.pass.errors && !selForm.controls.pass.untouched ) {
                <div class="error">Morate da unesete password izmedju 4 i 20 karaktera</div>
        }
    <label for="password">Password</label> <input id="password" type="password" formControlName="pass">
               @if(selForm.controls.ime.errors && !selForm.controls.ime.untouched) {
                <div class="error">Ovo polje je neophodno</div>
        }
    <label for="ime">Ime</label> 
    <input matInput id="ime" type="text" formControlName="ime">
                 @if(selForm.controls.prezime?.errors && !selForm.controls.prezime?.untouched) {
                <div class="error">Ovo polje je neophodno</div>
        }
    <label *ngIf="selForm.controls.prezime" for="prezime">Prezime</label> 
    <input *ngIf="selForm.controls.prezime" id="prezime" type="text" formControlName="prezime">
                 @if(selForm.controls.adresa?.errors && !selForm.controls.adresa?.untouched) {
                <div class="error">Ovo polje je neophodno</div>
        }
    <label *ngIf="selForm.controls.adresa" for="adresa">Adresa</label> 
    <input matInput *ngIf="selForm.controls.adresa" id="adresa" type="text" formControlName="adresa">   
    <button type="submit" mat-button [disabled]="!selForm.valid">Registrujte se</button>
        </form>
        <form [formGroup]="tip" (ngSubmit)="onSubmit()"> 
    <input mat-button-toggle id="kupac" name="tip" type="radio" value="kupac" formControlName="tip"> <label for="kupac">Kupac </label> 
    <input mat-button-toggle id="dostavljac" name="tip" type="radio" value="dostavljac" formControlName="tip"> <label for="dostavljac">Dostavljac </label>  
    <input mat-button-toggle id="restoran" name="tip" type="radio" value="restoran" formControlName="tip"> <label for="restoran">Restoran </label> 
    </form>
    <button mat-button routerLink="/login">Imate nalog?</button>

</div>